/* COMMON */
body {
  background-color: #141414;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: #fff;
}
.inner {
  width: 1350px;
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #777;
  color: #fff;
}
.btn.btn--reverse {
  background-color: #777;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #777;
}
.btn_re {
    width: 130px;
    padding: 5px;
    background-color: #141414;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 320px;
    margin-left: -310px;
    transition: .4s;
}
.btn_re:hover {
  background-color: #777;
  color: #fff;
}
.btn_lo {
  width: 130px;
  padding: 5px;
  background-color: #141414;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 10px;
  transition: .4s;
}
.btn_lo:hover {
  background-color: #777;
  color: #fff;
}


/* HEADER */
header {
  width: 100%;
  background-color: #141414;
  position: fixed;
  top: 0;
  z-index: 9;

}
header > .inner {
  height: 75px;
}
header .logo {
  height: 75px;
  position: absolute;
  top: 25px;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .menu {
  position: absolute;
  top: 20px;
  right: 0;
  display: flex;
}
header .menu .search {
    height: 34px;
    margin-right: 10px;
    position: relative;
}
header .menu .search input {
    width: 200px;
    height: 30px;
    padding: 4px 10px;
    border: 1px solid #141414;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #777;
    font-size: 12px;
    transition: width .4s;
}
header .menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}
header .menu .search.focused .material-icons {
  opacity: 0;

}
header .dropbtn {
  background-color: #141414;
  color: #fff;
  padding: 5px;
  left: 300px;
  font-size: 16px;
  border: none;
}

header .dropdown {
  top: 20px;
  left: 300px;
  position: relative;
  display: inline-block;
}

header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #141414;
  min-width: 160px;
  z-index: 1;
}

header .dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header .dropdown-content a:hover {background-color: #777;}

header .dropdown:hover .dropdown-content {display: block;}

header .dropdown:hover .dropbtn {background-color: #777;}

/* YOUTUBE VIDEO */
.youtube {
  position: relative;
  height: 680px;
  background-color: #141414;
  overflow: hidden;
}
.youtube .youtube__area {
  width: 1350px;
  position: absolute;
  left: 50%;
  margin-left: calc(1350px / -2);
  top: 50%;
  margin-top: calc(1350px * 9 / 16 / -2);
}
.youtube .youtube__area::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.youtube .youtube__cover {
  background-color: rgb(20, 21, 23, .5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* MAIN WINDOW */
.mainwindow,
.mainwindow2,
.mainwindow3,
.mainwindow4,
.mainwindow5,
.mainwindow6,
.mainwindow7,
.mainwindow8,
.mainwindow9,
.mainwindow10 {
  width: 100%;
  height: 600px;
  display: block;
}
.mainwindow .main_title,
.mainwindow2 .main_title,
.mainwindow3 .main_title,
.mainwindow4 .main_title,
.mainwindow5 .main_title,
.mainwindow6 .main_title,
.mainwindow7 .main_title,
.mainwindow8 .main_title,
.mainwindow9 .main_title,
.mainwindow10 .main_title {
  max-width: 1350px;
  padding: 20px 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 60px;
  line-height: 30px;
}

.mainwindow .main_title p,
.mainwindow2 .main_title p,
.mainwindow3 .main_title p,
.mainwindow4 .main_title p,
.mainwindow5 .main_title p,
.mainwindow6 .main_title p,
.mainwindow7 .main_title p,
.mainwindow8 .main_title p,
.mainwindow9 .main_title p,
.mainwindow10 .main_title p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-break: 30px;
}
.mainwindow ul.img_box,
.mainwindow2 ul.img_box2,
.mainwindow3 ul.img_box3,
.mainwindow4 ul.img_box4,
.mainwindow5 ul.img_box5,
.mainwindow6 ul.img_box6,
.mainwindow7 ul.img_box7,
.mainwindow8 ul.img_box8,
.mainwindow9 ul.img_box9,
.mainwindow10 ul.img_box10 {
  display: flex;
}
.mainwindow ul.img_box li.img_movie,
.mainwindow2 ul.img_box2 li.img_movie,
.mainwindow3 ul.img_box3 li.img_movie,
.mainwindow4 ul.img_box4 li.img_movie,
.mainwindow5 ul.img_box5 li.img_movie,
.mainwindow6 ul.img_box6 li.img_movie,
.mainwindow7 ul.img_box7 li.img_movie,
.mainwindow8 ul.img_box8 li.img_movie,
.mainwindow9 ul.img_box9 li.img_movie,
.mainwindow10 ul.img_box10 li.img_movie {
  padding-right: 15px;
}
.mainwindow ul.img_box li.img_movie .movie_infomation,
.mainwindow2 ul.img_box2 li.img_movie .movie_infomation,
.mainwindow3 ul.img_box3 li.img_movie .movie_infomation,
.mainwindow4 ul.img_box4 li.img_movie .movie_infomation,
.mainwindow5 ul.img_box5 li.img_movie .movie_infomation,
.mainwindow6 ul.img_box6 li.img_movie .movie_infomation,
.mainwindow7 ul.img_box7 li.img_movie .movie_infomation,
.mainwindow8 ul.img_box8 li.img_movie .movie_infomation,
.mainwindow9 ul.img_box9 li.img_movie .movie_infomation,
.mainwindow10 ul.img_box10 li.img_movie .movie_infomation {
  text-align: left;
  width: calc(100%-10px);
  margin: 10px 10px 0 0;
}
.mainwindow ul.img_box li.img_movie .movie_infomation .movie_title,
.mainwindow2 ul.img_box2 li.img_movie .movie_infomation .movie_title,
.mainwindow3 ul.img_box3 li.img_movie .movie_infomation .movie_title,
.mainwindow4 ul.img_box4 li.img_movie .movie_infomation .movie_title,
.mainwindow5 ul.img_box5 li.img_movie .movie_infomation .movie_title,
.mainwindow6 ul.img_box6 li.img_movie .movie_infomation .movie_title,
.mainwindow7 ul.img_box7 li.img_movie .movie_infomation .movie_title,
.mainwindow8 ul.img_box8 li.img_movie .movie_infomation .movie_title,
.mainwindow9 ul.img_box9 li.img_movie .movie_infomation .movie_title,
.mainwindow10 ul.img_box10 li.img_movie .movie_infomation .movie_title {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3px;
}

.mainwindow ul.img_box li.img_movie .movie_infomation .movie_year_nation,
.mainwindow2 ul.img_box2 li.img_movie .movie_infomation .movie_year_nation,
.mainwindow3 ul.img_box3 li.img_movie .movie_infomation .movie_year_nation,
.mainwindow4 ul.img_box4 li.img_movie .movie_infomation .movie_year_nation,
.mainwindow5 ul.img_box5 li.img_movie .movie_infomation .movie_year_nation,
.mainwindow6 ul.img_box6 li.img_movie .movie_infomation .movie_year_nation,
.mainwindow7 ul.img_box7 li.img_movie .movie_infomation .movie_year_nation,
.mainwindow8 ul.img_box8 li.img_movie .movie_infomation .movie_year_nation,
.mainwindow9 ul.img_box9 li.img_movie .movie_infomation .movie_year_nation,
.mainwindow10 ul.img_box10 li.img_movie .movie_infomation .movie_year_nation {
  color: #fff;
  padding-bottom: 1px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 21px;
}
.mainwindow ul.img_box li.img_movie .movie_infomation select,
.mainwindow2 ul.img_box2 li.img_movie .movie_infomation select,
.mainwindow3 ul.img_box3 li.img_movie .movie_infomation select,
.mainwindow4 ul.img_box4 li.img_movie .movie_infomation select,
.mainwindow5 ul.img_box5 li.img_movie .movie_infomation select,
.mainwindow6 ul.img_box6 li.img_movie .movie_infomation select,
.mainwindow7 ul.img_box7 li.img_movie .movie_infomation select,
.mainwindow8 ul.img_box8 li.img_movie .movie_infomation select,
.mainwindow9 ul.img_box9 li.img_movie .movie_infomation select,
.mainwindow10 ul.img_box10 li.img_movie .movie_infomation select {
  width: calc(258px /2);
  margin-top: 8px;
  height: 30px;
  background-color: #141414;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.mainwindow .img_box .swiper-container,
.mainwindow2 .img_box2 .swiper-container,
.mainwindow3 .img_box3 .swiper-container,
.mainwindow4 .img_box4 .swiper-container,
.mainwindow5 .img_box5 .swiper-container,
.mainwindow6 .img_box6 .swiper-container,
.mainwindow7 .img_box7 .swiper-container,
.mainwindow8 .img_box8 .swiper-container,
.mainwindow9 .img_box9 .swiper-container,
.mainwindow10 .img_box10 .swiper-container {
  width: calc(258px * 5 + 15px);
  position: absolute;
  left: 50%;
  margin-left: calc((258px * 5 + 15px) / -2);
}
.mainwindow .img_box .swiper-slide,
.mainwindow2 .img_box2 .swiper-slide,
.mainwindow3 .img_box3 .swiper-slide,
.mainwindow4 .img_box4 .swiper-slide,
.mainwindow5 .img_box5 .swiper-slide,
.mainwindow6 .img_box6 .swiper-slide,
.mainwindow7 .img_box7 .swiper-slide,
.mainwindow8 .img_box8 .swiper-slide,
.mainwindow9 .img_box9 .swiper-slide,
.mainwindow10 .img_box10 .swiper-slide {
  opacity: .5;
  transition: opacity 1s;
  position: relative;
}
.mainwindow .img_box .swiper-slide-active,
.mainwindow2 .img_box2 .swiper-slide-active,
.mainwindow3 .img_box3 .swiper-slide-active,
.mainwindow4 .img_box4 .swiper-slide-active,
.mainwindow5 .img_box5 .swiper-slide-active,
.mainwindow6 .img_box6 .swiper-slide-active,
.mainwindow7 .img_box7 .swiper-slide-active,
.mainwindow8 .img_box8 .swiper-slide-active,
.mainwindow9 .img_box9 .swiper-slide-active,
.mainwindow10 .img_box10 .swiper-slide-active {
  opacity: 1;
}
.mainwindow .swiper-pagination,
.mainwindow2 .swiper-pagination,
.mainwindow3 .swiper-pagination,
.mainwindow4 .swiper-pagination,
.mainwindow5 .swiper-pagination,
.mainwindow6 .swiper-pagination,
.mainwindow7 .swiper-pagination,
.mainwindow8 .swiper-pagination,
.mainwindow9 .swiper-pagination,
.mainwindow10 .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}
.mainwindow .swiper-pagination .swiper-pagination-bullet,
.mainwindow2 .swiper-pagination .swiper-pagination-bullet,
.mainwindow3 .swiper-pagination .swiper-pagination-bullet,
.mainwindow4 .swiper-pagination .swiper-pagination-bullet,
.mainwindow5 .swiper-pagination .swiper-pagination-bullet,
.mainwindow6 .swiper-pagination .swiper-pagination-bullet,
.mainwindow7 .swiper-pagination .swiper-pagination-bullet,
.mainwindow8 .swiper-pagination .swiper-pagination-bullet,
.mainwindow9 .swiper-pagination .swiper-pagination-bullet,
.mainwindow10 .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.mainwindow .swiper-pagination .swiper-pagination-bullet:last-child,
.mainwindow2 .swiper-pagination .swiper-pagination-bullet:last-child,
.mainwindow3 .swiper-pagination .swiper-pagination-bullet:last-child,
.mainwindow4 .swiper-pagination .swiper-pagination-bullet:last-child,
.mainwindow5 .swiper-pagination .swiper-pagination-bullet:last-child,
.mainwindow6 .swiper-pagination .swiper-pagination-bullet:last-child,
.mainwindow7 .swiper-pagination .swiper-pagination-bullet:last-child,
.mainwindow8 .swiper-pagination .swiper-pagination-bullet:last-child,
.mainwindow9 .swiper-pagination .swiper-pagination-bullet:last-child,
.mainwindow10 .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.mainwindow .swiper-prev, /* 다중 선택자 */
.mainwindow .swiper-next,
.mainwindow2 .swiper-prev,
.mainwindow2 .swiper-next,
.mainwindow3 .swiper-prev,
.mainwindow3 .swiper-next,
.mainwindow4 .swiper-prev,
.mainwindow4 .swiper-next,
.mainwindow5 .swiper-prev,
.mainwindow5 .swiper-next,
.mainwindow6 .swiper-prev,
.mainwindow6 .swiper-next,
.mainwindow7 .swiper-prev,
.mainwindow7 .swiper-next,
.mainwindow8 .swiper-prev,
.mainwindow8 .swiper-next,
.mainwindow9 .swiper-prev,
.mainwindow9 .swiper-next,
.mainwindow10 .swiper-prev,
.mainwindow10 .swiper-next {
  width: 42px;
  height: 400px;
  outline: none;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
  color: #777;
}
.mainwindow .swiper-prev,
.mainwindow2 .swiper-prev,
.mainwindow3 .swiper-prev,
.mainwindow4 .swiper-prev,
.mainwindow5 .swiper-prev,
.mainwindow6 .swiper-prev,
.mainwindow7 .swiper-prev,
.mainwindow8 .swiper-prev,
.mainwindow9 .swiper-prev,
.mainwindow10 .swiper-prev {
  left: 50%;
  margin-left: -700px;
}
.mainwindow .swiper-next,
.mainwindow2 .swiper-next,
.mainwindow3 .swiper-next,
.mainwindow4 .swiper-next,
.mainwindow5 .swiper-next,
.mainwindow6 .swiper-next,
.mainwindow7 .swiper-next,
.mainwindow8 .swiper-next,
.mainwindow9 .swiper-next,
.mainwindow10 .swiper-next {
  right: 50%;
  margin-right: -700px;
}
.mainwindow .swiper-prev:hover,
.mainwindow .swiper-next:hover,
.mainwindow2 .swiper-prev:hover,
.mainwindow2 .swiper-next:hover,
.mainwindow3 .swiper-prev:hover,
.mainwindow3 .swiper-next:hover,
.mainwindow4 .swiper-prev:hover,
.mainwindow4 .swiper-next:hover,
.mainwindow5 .swiper-prev:hover,
.mainwindow5 .swiper-next:hover,
.mainwindow6 .swiper-prev:hover,
.mainwindow6 .swiper-next:hover,
.mainwindow7 .swiper-prev:hover,
.mainwindow7 .swiper-next:hover,
.mainwindow8 .swiper-prev:hover,
.mainwindow8 .swiper-next:hover,
.mainwindow9 .swiper-prev:hover,
.mainwindow9 .swiper-next:hover,
.mainwindow10 .swiper-prev:hover,
.mainwindow10 .swiper-next:hover {
  background-color: #777;
  color: #121212;
}

/* FOOTER */
footer {
  background-color: #272727;
  border-top: 1px solid #141414;
}
footer .inner {
  padding: 20px 0 20px 0;
}
footer .info {
  margin-top: 30px;
  text-align: center;
}
footer .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child {
  margin-right: 0;
}
footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
footer .logo {
  margin: 30px auto 0;
}